body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #000;
}

.titre {
    text-align: center;
        font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

@media (max-width: 800px) {
    #titre {
        font-size: 1.2rem;
    }
}

